{
    "host": "example.amazonaws.com",
    "port": 8883,
    "topic": "tuya/",
    "qos": 0,
    "rootca": "cert/amazon-root-ca.pem",
    "cert": "cert/example-certificate.pem.crt",
    "key": "cert/example-private.pem.key"
}
